@font-face {
	font-family: ColaborateThin;
	src: url("/assets/fonts/ColabThi.otf") format("opentype");
	}
	@font-face {
	font-family: ColaborateLight;
	src: url("/assets/fonts/ColabLig.otf") format("opentype");
	}
	@font-face {
	font-family: ColaborateMedium;
	src: url("/assets/fonts/ColabMed.otf") format("opentype");
	}
	@font-face {
	font-family: ColaborateRegular;
	src: url("/assets/fonts/ColabReg.otf") format("opentype");
	}
	@font-face {
	font-family: ColaborateBold;
	src: url("/assets/fonts/ColabBol.otf") format("opentype");
	}